body
{
         margin:0;
         padding:0;
         font-family:Georgia,"Lucida Bright","Times New Roman",serif;
         color:#404040;
         line-height:1.5;
          font-size:1em;
    }
    
    h1
    {
         font-size:2.6em;
          font-weight:normal;
           margin: 0 0 2px 0;
           line-height:1.0;
           font-family: Consolas;
        }
        
        h2
        {
            font-size: 1.9em;
             font-weight:normal;
               display:inline;
             margin-left:-8px; 
             padding: 0px 8px;
            }
            
        h3
        {
            font-size: 1.3em;
             font-weight:normal;
              margin: 0 0 10px 0;
            }
            
            h4
            {
                 font-size: 1.0em;
                font-weight:normal;
                 margin: 0;
             }
            
            img
            {
                 border: 0;
                 
            }
                
               #odesk a
               {
                   border:0;
               }
            
            #wrapper
            {
                margin: 0 auto;
                 width: 950px;
                  background: #FFF;
                   padding: 30px 0;
                }
            
            #head
            {
                
                    float: left; 
                    width: 250px; 
                    background: #eee; 
                    border: 1px solid #eee;
                }
            
            #about
            {
                    float: left;
                     margin-left: 30px;
                      width: 668px;
                       background: #fff;
                }
            
            
            .cv-block
            {
                     margin-bottom:20px;
                }
            
      .cicle-list
    {    
           list-style-type: none;
            margin:  0 0 0 25px;
            padding:0;
    }
     
            
    .cicle-list li
    {
          background: url("http://sourcemaking.com/sites/all/themes/sm3/images/ild/dot.gif") no-repeat scroll 0 0.5em transparent;
            padding-left: 1.3em;
    }
    
    
    .print-version
    {
               background: none repeat scroll 0 0 red;
    color: #FFFFFF;
    font-family: verdana;
    font-size: 0.7em;
    padding: 2px;
    position: absolute;
    right: 0;
    top: 0;
    border:none;
    }
    
    .print-version:hover
    {
        border:none;
        }
    
    a
    {
         border-bottom: 1px dotted #0088CC;
    color: #006699;
    padding-bottom: 1px;
    text-decoration: none;
        }
        
        a:hover
    {
         border-bottom: 1px solid #0088CC;
    }
        
        #contacts
        {
            
            }
            
            
            .filter
            {
                cursor:pointer; 
                padding: 0 2px; 
                border-bottom:1px dotted;
                color: #008800;
            }
            
             .filter-selected
            {
                background:#def3f8; 
            }
            
            #contacts ul
            {
                     padding:0;
                      margin:0;
                      list-style-type: none;
                }
                
                
              #footer
{
     color: #008800;
    font-family: mono-space,monospace;
    font-size: 1.2em;
    padding: 20px 0 30px;
    text-align: center;
}  
                
      .used-technologies
      {
          font-family: Consolas;
          font-size:0.7em;
          padding:5px 0 0 0 ;
      }          
           
           .comment
           {
               color: #006400; font-family: Consolas;
               }     
                
                .job-data
{
    font-size: 0.7em;
    color: #666666;
    font-family:Verdana;
    padding:0 0 5px 0;
}
                
        .job-block
        {
                 margin: 0 0 10px 0;
            }        
                
                
              /* Tag cloud */

	#tags ul{
		margin: 0;
		padding:0px;
		text-align:center;
		
		}
	#tags li{
		margin:0 3px;
		padding:0;
		list-style:none;
		display:inline;
		}
		
	
	
	.excellent
	{
	    background: #FFFF99;
	    font-size: 1.3em;
	}
	
	.good
	{
	    font-size: 1.2em;
	}
	
	.average
{
    font-size: 0.9em;
    color: #666666;
}
	
	.poor
{
    color: #C0C0C0;
    font-size: 0.7em;
}
	
	.tag1{font-size:100%;}
	.tag2{font-size:120%;}
	.tag3{font-size:140%;}
	.tag4{font-size:160%;}
	.tag5{font-size:180%;}
	
	/* alternative layout */

	#tags .alt{
		text-align:left;
		padding:0;
		background:none;
		}
	#tags .alt li{
		padding:2px 10px;
		background:#efefef;
		display:block;
		}
	#tags .alt .tag1, 
	#tags .alt .tag2, 
	#tags .alt .tag3, 
	#tags .alt .tag4, 
	#tags .alt .tag5{font-size:100%;}
	#tags .alt .tag1{background:#7cc0f4;}
	#tags .alt .tag2{background:#67abe0;}
	#tags .alt .tag3{background:#4d92c7;}
	#tags .alt .tag4{background:#3277ad;}
	#tags .alt .tag5{background:#266ca2;}
	
	.btn{display:block;}
	
/* // Tag cloud */