body
{
    margin: 0;
    padding: 0;
    font-family: Georgia,"Lucida Bright","Times New Roman",serif;
    color: #404040;
    line-height: 1.5;
    font-size: 1em;
}

h1
{
    font-size: 2.6em;
    font-weight: normal;
    margin: 0 0 2px 0 ;
    line-height: 1.0;
    font-family: Consolas;
}

h2
{
    font-size: 1.9em;
    font-weight: normal;
    display: inline;
    margin-left: -8px;
    padding: 0px 8px;
}

h3
{
    font-size: 1.3em;
    font-weight: normal;
    margin: 0 0 10px 0;
}

h4
{
    font-size: 1.0em;
    font-weight: normal;
    margin: 0;
}

img {    border: 0 }

#wrapper
{
    margin: 0 auto;
    width: 950px;
    background: #FFF;
    padding: 30px 0;
}

#head
{
    float: left;
    width: 250px;
    background: #eee;
    border: 1px solid #eee;
}

#about
{
    float: left;
    margin-left: 30px;
    width: 668px;
    background: #fff;
}

.cv-block {    margin-bottom: 20px }

.cicle-list
{
    list-style-type: none;
    margin: 0 0 0 25px;
    padding: 0;
}

.print-version
{
    background: none repeat scroll 0 0 red;
    color: #FFFFFF;
    font-family: verdana;
    font-size: 0.7em;
    padding: 2px;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
}

.print-version:hover {    border: none }

a
{
    border-bottom: 1px dotted #0088CC;
    color: #006699;
    padding-bottom: 1px;
    text-decoration: none;
}

a:hover {    border-bottom: 1px solid #0088CC }

#contacts ul
{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#footer
{
    color: #008800;
    font-family: mono-space,monospace;
    font-size: 1.2em;
    padding: 0 0 30px;
    text-align: center;
}

.used-technologies
{
    font-family: Consolas;
    font-size: 0.7em;
    padding: 5px 0 0 0;
}

.comment
{
    color: #006400;
    font-family: Consolas;
}

.job-data
{
    font-size: 0.7em;
    color: #666666;
    font-family: Verdana;
    padding: 0 0 5px 0;
}

.job-block {    margin: 0 0 10px 0 }

p
{
    margin: 0;
    padding: 0 0 10px 0;
}